<h2>Load new photo</h2>

<form action="/picture/add" method="post" enctype="multipart/form-data">
    <label for="author"></label>
    <input type="text" name="author" id="title">
    <label for="content">Content</label>
    <input type="text" name="content" id="">
    <label for="picture">Picture name</label>
    <input type="file" name="photo" id="photo">
    <input type="submit" value="save">
</form>