<h2>Load new photo</h2>
<form action="/picture/add" method="post" enctype="multipart/form-data">
    <label for="title"></label>
    <input type="text" name="title" id="title">
    <label for="description">Description</label>
    <input type="text" name="description" id="">
    <label for="poster">Poster</label>
    <input type="file" name="photo" id="photo">
    <input type="submit" value="save">
</form>